.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: 'Inter';
}

.icon{
    height: 100px;
    width: 100px;
}

.name_comment_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
}

.company_name{
    text-transform: uppercase;
    color: #1C12DB;
    font-size: 72px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.comment{
    margin: 0 auto;
    color: #1C12DB;
    font-size: 24px;
}