.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: 'Inter';
}

.icon{
    height: 80px;
    width: 80px;
}

.name_comment_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 130px;
}

.company_name{
    text-transform: uppercase;
    color: #1C12DB;
    font-size: 60px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.comment{
    margin: 0 auto;
    color: #1C12DB;
    font-size: 20px;
}

@media (max-width:1100px){

    .name_comment_wrapper{
        margin-right: 100px;
    }

    .icon{
        height: 50px;
        width: 50px;
    }

    .company_name{
        font-size: 30px;
    }

    .comment{
        font-size: 15px;
    }
}