.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #9BAFF5;
    margin: 0;
    padding: 0;
    height: 60px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
}

.menu button{
    background-color: #1C12DB;
    color: white;
    height: 35px;
    width: 30%;
    border: 1px solid #1C12DB;
    border-radius: 20px;
    font-family: Inter;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

button.activeButton{
    background-color: #370A80;
}

.menu button:hover{
    background-color: rgba(59, 54, 162, 0.85);
    border-color: rgba(59, 54, 162, 0.85);
}

.logo{
    margin-right: 10px;
}