.header{
    display: flex;
    z-index: 3;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #9BAFF5;
    margin: 0;
    padding: 0;
    height: 60px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    position: absolute;
    right: 20px;
}

.menu button{
    background-color: rgba(28, 18, 219, 0);
    color: #2d1a28;
    height: 35px;
    width: 25%;
    border: 1px solid rgba(28, 18, 219, 0);
    font-family: Inter;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
}

.menu button:hover:not(:last-child){
    color: white;
    background-color: rgba(59, 54, 162, 0.85);
    border-color: rgba(59, 54, 162, 0.85);
}

.menu button:hover:last-child{
    color: white;
    background-color: rgb(218, 27, 43);
}

.logo{
    position: absolute;
    left: 30px;
}