.buttons{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}

.buttons button{
    width: 30%;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    border: 3px solid black;
    color: white;
}

.activeButton{
    background-color: #156456;
}

.notActiveButton{
    background-color: #1C12DB;
}

.orders{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.order{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.85);
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}

.addOrder{
    width: 180px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 10px auto;
}

.addOrderLogo{
    padding: 5px 10px;
    background-color: #1C12DB;
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px 0 0 5px;
}

.addOrderText{
    font-weight: 700;
    font-size: 15px;
    padding: 0 10px;
    margin: 0;
}