.buttons{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}

.buttons button{
    width: 30%;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    border: 3px solid black;
    color: white;
}

.activeButton{
    background-color: #156456;
}

.notActiveButton{
    background-color: #1C12DB;
}

.notActiveButton:hover{
    background-color: #154664;
}

.orders{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.order{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.85);
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}

.addOrder{
    width: 180px;
    background-color: rgba(255, 255, 255, 0);
    border: 0 solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 10px auto;
}

.addOrderLogo{
    height: 42px;
    width: 42px;
    background-color: #1C12DB;
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 5px 0 0 5px;
}

.addOrderLogo:hover{
    background-color: #156456;
}

.addOrderText{
    font-weight: 700;
    font-size: 15px;
    padding: 0 10px;
    margin: 0;
    background-color: #ecf1ff;
    height: 42px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0 5px 5px 0;
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
}