.ellipses_wrapper{
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ellipse{
    width: 64%;
    height: 98%;
    border-radius: 50% 40%;
    mix-blend-mode: darken;
    filter: blur(9px);
    transform: skew(-15deg, 0deg);
    z-index: -1;
    overflow: hidden;
}

#ellipseLeft{
    background-color: #370A80;
    position: fixed;
    left: -30%;
    top: 19%;
}

#ellipseRight{
    width: 68%;
    height: 85%;
    background-color: #1C62DB;
    position: fixed;
    left: 65%;
    top: 10%;
    transform: skew(-10deg, 0deg);
}

.comment{
    font-family: 'Inter';
    font-weight: bold;
}

#advice{
    margin: 10px 0;
    text-align: center;
}

.contacts{
    position: fixed;
    bottom: 0;
    right: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 30px;
}